<div id="node-data" class="node node-width-160">
    <span class="office"></span>
    <div class="content header"
        style="border-bottom:0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;height: 50px;">
        <span style="vertical-align: text-top;"> <b> ({{data.displayName}}) </b> - {{executantName}} </span>
        <!-- <span> {{data.displayName}} - {{data.columnIndex}}</span> -->
    </div>
    <div class="content"
        style="border-bottom:0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;height: 160px;">
        <div class="word-break: break-all;">
            <b> DOR: </b> <span> {{data.dor}} ({{data.documentNumber}}) </span>
        </div>
        <div class="word-break: break-all;">
            <b> Nature: </b> <span> {{data.nature}} </span>
        </div>
        <div class="word-break: break-all;">
            <b> Size: </b> <span> {{propertySize}} </span>
        </div>
        <div class="word-break: break-all;">
            <b> SurveyNumber : </b> <span> {{surveyNumber}} </span>
        </div>
        <div class="word-break: break-all;">
            <b> MV: </b> <span> {{data.marketValue}} </span>
        </div>
        <div class="word-break: break-all;">
            <b> CV: </b> <span> {{data.considerationValue}} </span>
        </div>
    </div>
    <div class="content footer" style="height: 50px;">
        <span style="vertical-align: text-top;"> {{claimantName}} </span>
    </div>
    <i class="edge verticalEdge bottomEdge fa"></i>
</div>
<!-- <div class="node" id="node-data">
    <span class="office"></span>
    <div class="title">Row Index({{data.rowIndex}}) </div>
    <div class="content">{{data.displayName}} - display({{data.displayEnum}}) - VirtualChild({{data.virtualChild}})</div>
    <i class="edge verticalEdge bottomEdge fa"></i>
</div> -->