<div id="node-data" class="node node-width-160">
    <span class="office"></span>
    <div class="content header" style="border-bottom:0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;height: 55px;">
        <span> {{executantName}} </span>
    </div>
    <div class="content" style="border-bottom:0;border-bottom-left-radius: 0;border-bottom-right-radius: 0">
        <div class="word-break: break-all;">
            <b> DOR: </b> <span> {{data.dor}} ({{data.documentNumber}}) </span>
        </div>
        <div class="word-break: break-all;">
            <b> Nature: </b> <span> {{data.nature}} </span>
        </div>
        <div class="word-break: break-all;">
            <b> Size: </b>
        </div>
        <div class="word-break: break-all;">
            <b> SurveyNumber : </b>
        </div>
        <div class="word-break: break-all;">
            <b> MV: </b>  <span> {{data.marketValue}} </span>
        </div>
        <div class="word-break: break-all;">
            <b> CV: </b>  <span> {{data.considerationValue}} </span>
        </div>
    </div>
    <div class="content footer" style="height: 55px;">
        <span> {{claimantName}} </span>
    </div>
    <i class="edge verticalEdge bottomEdge fa"></i>
</div>
<!-- <div class="node">
    <span class="office"></span>
    <div class="title">Row Index({{data.rowIndex}}) </div>
    <div class="content">{{data.displayName}} - display({{data.displayEnum}}) - VirtualChild({{data.virtualChild}})</div>
    <i class="edge verticalEdge bottomEdge fa"></i>
</div> -->