<table cellpadding="0" cellspacing="0">

    <!-- START: Split one node into multiple -->
    <app-split-nodes class="lines" id="split-lines" [children]="data.children" *ngIf="data.children.length > 1">
    </app-split-nodes>
    <!-- END -->

    <tr class="nodes child" *ngIf="data.children.length > 0">
        <td id="child_{{childItem.parent}}_{{childItem.child}}" colspan="2"
            *ngFor="let childItem of data.children;let c1Index=index; first as isFirst; last as isLast">
            <table>
                <!-- virtual vertical line -->
                <tr class="lines" *ngIf="childItem.displayEnum === 'drawVerticalLine'">
                    <td colspan="2" [style.width]="vchildWidth">
                        <div class="downLine" id="verticaldownLine" [style.height]="vchildHeight"></div>
                    </td>
                </tr>
                <!-- horizontal connector line vertical line -->
                <tr class="lines" id="{{childItem.parent}}_horizontal_{{childItem.child}}"
                    *ngIf="childItem.displayEnum === 'drawHorizontalLine' || childItem.commonChildPoistion === 'middle'">
                    <td colspan="2" [style.width]="vchildWidth">
                        <div class="topLine" [style]="adjustHorizontalLineByPoint(childItem)"> </div>
                    </td>
                </tr>
                <tr class="lines" *ngIf="childItem.commonChildPoistion === 'middle'">
                    <td colspan="2">
                        <div class="downLine" id="downLine" style="height: 24px;"></div>
                    </td>
                </tr>
                <tr *ngIf="childItem.displayEnum === 'show'" id="child_data_{{childItem.parent}}_{{childItem.child}}">
                    <td colspan="2">
                        <app-chain-details [data]="childItem"></app-chain-details>
                    </td>
                </tr>
                <tr class="{{childItem.displayEnum === 'commonChildConnector' ? '' : 'lines'}}"
                    *ngIf="childItem.children.length > 0">
                    <td colspan="2">
                        <div class="downLine" id="data-downLine" [style.height]="adjustVerticalLine(childItem)"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <app-children-with-csv-table class="chilnode" [data]="childItem">
                        </app-children-with-csv-table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>