<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="chart-container">
        <div class="orgchart">
            <!-- <table>
                <tr>
                    <td>
                        <div class="node">
                            <span class="office"></span>
                            <div class="title"> &nbsp;
                            </div>
                            <div class="content">
                                Before {{ecStartDate}} - Online Data not available
                            </div>
                            <i class="edge verticalEdge bottomEdge fa"></i>
                        </div>
                    </td>
                </tr>
                <tr class="lines">
                    <td>
                        <div class="downLine"></div>
                    </td>
                </tr>
            </table> -->

            <ul class="nodes">
                <li class="hierarchy">
                    <div class="node">
                        <div class="title"><i class="oci oci-leader symbol"></i>A</div><i
                            class="edge verticalEdge bottomEdge oci"></i>
                    </div>
                    <ul class="nodes">
                        <li class="hierarchy">
                            <div class="node">
                                <div class="title"><i class="oci oci-leader symbol"></i>B</div>
                                <i class="edge verticalEdge topEdge oci"></i>
                                <i class="edge horizontalEdge rightEdge oci"></i>
                                <i class="edge horizontalEdge leftEdge oci"></i>
                                <i class="edge verticalEdge bottomEdge oci">
                                </i>
                            </div>
                            <ul class="nodes">
                                <li class="hierarchy">
                                    <div class="node">
                                        <div class="title">D</div><i class="edge verticalEdge topEdge oci"></i>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="hierarchy">
                            <div class="node">
                                <div class="title"><i class="oci oci-leader symbol"></i>C</div>
                                <i class="edge verticalEdge topEdge oci"></i>
                                <i class="edge horizontalEdge rightEdge oci"></i>
                                <i class="edge horizontalEdge leftEdge oci"></i>
                                <i class="edge verticalEdge bottomEdge oci"></i>
                            </div>
                            <ul class="nodes">
                                <li class="hierarchy">
                                    <div class="node">
                                        <div class="title">E</div><i class="edge verticalEdge topEdge oci"></i>
                                        <i class="edge horizontalEdge rightEdge oci"></i>
                                        <i class="edge horizontalEdge leftEdge oci"></i>
                                    </div>
                                </li>
                                <li class="hierarchy">
                                    <div class="node">
                                        <div class="title"><i class="oci oci-leader symbol"></i>F</div>
                                        <i class="edge verticalEdge topEdge oci"></i>
                                        <i class="edge horizontalEdge rightEdge oci"></i>
                                        <i class="edge horizontalEdge leftEdge oci"></i>
                                        <i class="edge verticalEdge bottomEdge oci"></i>
                                    </div>
                                    <ul class="nodes">
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">G</div><i
                                                    class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">H</div>
                                                <i class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <!-- <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">H1</div>
                                                <i class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">H2</div>
                                                <i class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">H3</div>
                                                <i class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">H4</div>
                                                <i class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li> -->
                                    </ul>
                                    <div class="node">
                                        <div class="title"><i class="oci oci-leader symbol"></i>I</div>
                                        <i class="edge verticalEdge topEdge oci"></i>
                                        <i class="edge horizontalEdge rightEdge oci"></i>
                                        <i class="edge horizontalEdge leftEdge oci"></i>
                                        <i class="edge verticalEdge bottomEdge oci"></i>
                                    </div>
                                    <ul class="nodes">
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">J</div><i
                                                    class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">K</div><i
                                                    class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">L</div><i
                                                    class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                        </li>
                                        <li class="hierarchy">
                                            <div class="node">
                                                <div class="title">M</div><i
                                                    class="edge verticalEdge topEdge oci"></i>
                                                <i class="edge horizontalEdge rightEdge oci"></i>
                                                <i class="edge horizontalEdge leftEdge oci"></i>
                                            </div>
                                            <ul class="nodes">
                                                <!-- <li class="hierarchy">
                                                    <div class="node">
                                                        <div class="title">M1</div><i
                                                            class="edge verticalEdge topEdge oci"></i>
                                                        <i class="edge horizontalEdge rightEdge oci"></i>
                                                        <i class="edge horizontalEdge leftEdge oci"></i>
                                                    </div>
                                                </li>
                                                <li class="hierarchy">
                                                    <div class="node">
                                                        <div class="title">M2</div><i
                                                            class="edge verticalEdge topEdge oci"></i>
                                                        <i class="edge horizontalEdge rightEdge oci"></i>
                                                        <i class="edge horizontalEdge leftEdge oci"></i>
                                                    </div>
                                                </li>
                                                <li class="hierarchy">
                                                    <div class="node">
                                                        <div class="title">M3</div><i
                                                            class="edge verticalEdge topEdge oci"></i>
                                                        <i class="edge horizontalEdge rightEdge oci"></i>
                                                        <i class="edge horizontalEdge leftEdge oci"></i>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>