<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="chart-container" class="tree" style="overflow-x:auto;padding-top: 0px;">
        <div class="orgchart">
            <table>
                <tr>
                    <td>
                        <div class="node">
                            <span class="office"></span>
                            <div class="title"> &nbsp;
                            </div>
                            <div class="content">
                                Before {{ecStartDate}} - Online Data not available
                            </div>
                            <i class="edge verticalEdge bottomEdge fa"></i>
                        </div>
                    </td>
                </tr>
                <tr class="lines">
                    <td>
                        <div class="downLine"></div>
                    </td>
                </tr>
           
            </table>
        </div>
    </div>
</div>