<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="chart-container" class="tree" style="padding-top: 0px;">
        <div class="orgchart">
            <table>
                <tr>
                    <td>
                        <div class="node">
                            <span class="office"></span>
                            <div class="title"> &nbsp;
                            </div>
                            <div class="content">
                                Before {{ecStartDate}} - Online Data not available
                            </div>
                            <i class="edge verticalEdge bottomEdge fa"></i>
                        </div>
                    </td>
                </tr>
                <tr class="lines">
                    <td>
                        <div id="downLine" class="downLine"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <!-- START: Split one node into multiple -->
                            <app-split-nodes class="lines" [children]="chainModel"
                                *ngIf="chainModel && chainModel.length > 1 && showChainDefaultHeader">
                            </app-split-nodes>
                            <!-- END -->
                            <tr>
                                <td id="root_{{parent.child}}" colspan="2"
                                    *ngFor="let parent of chainModel;let colIndex=index">
                                    <table id="parent_{{parent.child}}">
                                        <tr *ngIf="parent.displayEnum === 'show'">
                                            <td colspan="2">
                                                <app-chain-details [data]="parent"></app-chain-details>
                                            </td>
                                        </tr>
                                        <tr style="page-break-inside: avoid;"
                                            class="{{parent.displayEnum === 'commonChildConnector' ? '' : 'lines'}}"
                                            *ngIf="parent.children.length > 0">
                                            <td colspan="2">
                                                <div class="downLine" id="data-downLine"
                                                    [style.height]="adjustVerticalLine(parent)"></div>
                                            </td>
                                        </tr>
                                        <tr style="page-break-inside: avoid;" class="nodes xyz-parent"
                                            *ngIf="parent.children.length > 0">
                                            <td colspan="2">
                                                <app-children-with-csv-table class="parnode" [data]="parent">
                                                </app-children-with-csv-table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>